<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Born at:</strong>
  <%= l(@user.born_at, format: :long) rescue nil %>
</p>

<p>
  <strong>Photo:</strong>
  <%= cl_image_tag(@user.photo.path, width: 256, height: 256, crop: :fill) if @user.photo %>
</p>

<% if policy(@user).edit? %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-info btn-xs' %> |
<% end %>
<%= link_to 'Back', users_path, class: 'btn btn-xs' %>
