<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_with_default(:title, t('meta-title')) %></title>
    <meta name="description" content="<%= yield_with_default(:description, t('meta-description')) %>">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= favicon_link_tag %>

    <meta property="fb:app_id" content="<%= t('meta-fb-app-id') %>"/>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="<%= t('meta-title') %>">
    <meta property="og:url" content="<%= t('meta-url') %>">
    <meta property="og:title" content="<%= yield_with_default(:title, t('meta-title')) %>">
    <meta property="og:description" content="<%= yield_with_default(:description, t('meta-description')) %>">
    <meta property="og:image" content="<%= ENV['HOST'] + image_path('og_image.jpg') %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= t('meta-twitter') %>">
    <meta name="twitter:creator" content="<%= t('meta-twitter') %>">
    <meta name="twitter:title" content="<%= yield_with_default(:title, t('meta-title')) %>">
    <meta name="twitter:description" content="<%= yield_with_default(:description, t('meta-description')) %>">
    <meta name="twitter:image:src" content="<%= ENV['HOST'] + image_path('og_image.jpg') %>">

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
    <%= render 'cookies_eu/consent_banner' %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:js) %>
  </body>
</html>
